@import "highlight.js/scss/atom-one-dark";
body {
  font-family: Tahoma, Arial, sans-serif;
}
.content {
  max-width: 800px;
  margin: auto;
}
.description {
  margin-bottom: 30px;
}
.app-buttons {
  display: flex;
  gap:10px;
  margin:20px 0;

  button {
    color:white;
    cursor:pointer;
    font-size: 15px;
    background-color: #333333;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    &.active {
      background-color: #880726;
    }
    &:hover {
      background-color: #880726;
    }
  }
}
:lang(en) {
  *[data-lang="de"]{display:none;}
}
:lang(de) {
  *[data-lang="en"]{display:none;}
}